<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/select2/dist/css/select2.css" />
    <link rel="stylesheet" href="/vendor/select2-theme-bootstrap4/dist/select2-bootstrap.css" />
    <link rel="stylesheet" href="/css/index.css">
    <title>@ViewData["Title"]</title>
</head>

<body>
@RenderBody()

<div id="Updated">
</div>

<environment names="Development">
    <script src="/vendor/jquery/dist/jquery.js"></script>
    <script src="/vendor/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/vendor/select2/dist/js/select2.js"></script>
    <script src="/vendor/vue/dist/vue.js"></script>
    <script src="/vendor/axios/dist/axios.js"></script>
</environment>
@RenderSection("Scripts", required: false)
</body>

</html>
